.box-b {
	border: 2px solid #aaa;
	height: 200px;
	width: 200px;
	position: absolute;
	right: 40%;
}

.loader {
	background: rgba(255,255,255,.5);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;;
	align-items: center;
	justify-content: center;
}